<h2 class="ui center aligned icon header">
  <i class="circular orange power off icon"></i>
   Say something
</h2>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |form| %>
        <div class="ui form">
          <div class="field">           
            <%= form.label "Username", :username %>
            <div class="ui left icon input">
              <%= form.text_field :username, placeholder: "Username"%>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <%= form.label "Password", :password %>
            <div class="ui left icon input">
              <%= form.password_field :password, placeholder: "enter your password here" %>
              <i class="lock icon"></i>
            </div>
          </div>
          <%= form.button "Login", class: "ui orange submit button" %>
        </div>
      <% end %>
    </div>
    <div class="middle aligned  column">
      <div class="ui orange fluid icon button">
        <i class="signup  icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    
  </div>
</div>